body {
    background-color: cornflowerblue;
}

.blogg-entry {
    width: 50%;
    left: 25%;
    position: relative;
    margin-bottom: 80px;
}

.articleText {
    width: 100%;
    white-space: pre-wrap;
}

.wrapper {
    background-color: darkblue;
}

a {
    color: azure;
}

a:visited {
    color: cadetblue;
}
