@using BloggV1.Controllers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchByTitle</title>
    <link href="~/searchstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @if (Checking.IsLoggedin())
        {

            Checking.IsAuthorized(true);
            @Html.ActionLink("Main Panel", "LoggedIn", "Main", new { @id = Checking.UserId() }, null)
        }
        else
        {
            @Html.ActionLink("Main Panel", "Login", "Main")
        }
    </div>
<div>
    @using (Html.BeginForm("SearchByTitle", "Search", FormMethod.Post))
    {
        <tr>
            <td>
                <input name="title" type="text"/>
            </td>
            <td>
                <input type="submit" value="search"/>
            </td>
        </tr>
    }
</div>
</body>
</html>
